body{
    background-color: white;
}
.all-news-container{
    padding-top: 30px;
    /* margin-left: 18px;
    width: 98%; */

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.news-card{
    width: 63%;
    /* background-color: blanchedalmond; */
}
.news-card-date{
    display: flex;
    flex-direction: row;
    
}
 .news-date{
     margin-right: 10px;
     font-weight: 700;
     font-size: 20px;
 }
 .hr{
    margin-top: 15px;
    width: 100%;
    height: 0.8px;
    background-color: #e3d4d4;
} 

.card-container{
    /* height: 300px; */
    width: 100%;
    margin-top: 20px;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;  
}

.card{
    margin-top: 30px;
    /* background-color: blue; */
    height: 300px;
    width: 240px;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease ;
}
.news-content-container{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    color: beige;
}


/* popup styling */

.popup-div-parent{
    position: fixed;
    backdrop-filter: blur(3px);
    background-color: rgba(22, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    top: 0%;
    
}

.popup-container{
    position: fixed;
    height: 450px;
    top: 50%;
    left: 53%;
    transform: translate(-50%,-50%);
    width: 45%;
    background-color: red;
    z-index: 2;
}

.left-ic{
    position: absolute;
    left: -10%;
    top: 48%;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.right-ic{
    position: absolute;
    right: -10%;
    top: 48%;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
/* popup styling */


/* flickity css */
/* .flickity-prev-next-button{
    top: 25% !important;
} */
/* flickity css */

/* mobile responsive */



@media screen and (min-width:200px) and (max-width:500px) {

  
   

    .all-news-container{
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news-card{
        width: 80%;
        /* background-color: blanchedalmond; */
    }
    .news-card-date{
        display: flex;
        flex-direction: row;
        
    }
     .news-date{
         margin-right: 10px;
         font-weight: 700;
         font-size: 20px;
     }
     .hr{
         display: none;
    } 
    
    .card-container{
        /* height: 300px; */
        width: 100%;
        margin-top: 20px;
        /* background-color: blanchedalmond; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-evenly;  
    }
    
    .card{
        margin-top: 30px;
        background-color: blue;
        height: 300px;
        width: 240px;
    }
    .card:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.5s ease ;
    }





    .news-content-container{
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        color: beige;
    }
    
    
    /* popup styling */
    
    .popup-div-parent{
        position: fixed;
        backdrop-filter: blur(3px);
        background-color: rgba(22, 22, 22, 0.7);
        width: 100%;
        height: 100%;
        top: 0%;
        
    }
    
    .popup-container{
        position: fixed;
        height: 450px;
        top: 50%;
        left: 23%;
        transform: translate(-50%,-50%);
        width: 45%;
        background-color: inherit;
        z-index: 2;
    }
    
    .left-ic{
        position: absolute;
        left: -10%;
        top: 48%;
        font-weight: bolder;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
    .right-ic{
        position: absolute;
        right: -10%;
        top: 48%;
        font-weight: bolder;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
    /* popup styling */
    
    
}